[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyindia = "*"
covid-india = "*"
pillow = "*"
pyrebase4 = "*"
requests = "*"
git42 = "*"

[dev-packages]

[requires]
python_version = "3.10"
